# Project exclude paths
/.gradle/
/build/
/bukkit/build/
/bukkit/build/classes/java/main/
/bungee/build/
/common/build/
/MAStaff-Bukkit/build/
/MAStaff-API/build/
/.idea/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle.properties